<div class="w-100 h-75 justify-content-center d-flex mt-5">
<div class="card w-75 primary-br border-3 rounded-3">
  <div class="card-header primary-bg">
    <h1>Simple RPG System</h1>
  </div>
  <div class="card-body">
    <p>O Simple é um sistema de RPG criado em 2018 para ser utilizado em um clube escolar, onde nenhum jogador sabia
      utilizar sistemas já existentes. Devido à falta de tempo e paciência para aprendê-los, o mestre Renan Domingues
      decidiu criar com a turma um sistema simples, o Simple!</p>

    <p>Ao longo dos anos, houve algumas modificações e adaptações. Sua versão inicial dependia exclusivamente da
      capacidade do mestre de controlar os aspectos do jogo. Com esta adaptação para uma versão web, espera-se chegar
      a um sistema simples, de fácil entendimento, que possibilite uma jornada divertida e focada na história e nos
      jogadores, sem necessidade de um mestre que controle tudo.</p>
  </div>
  <div class="card w-100">
    <div class="card-header">
      <h2>Regras</h2>
    </div>
    <div class="card-body">
      <h3>Os Personagens</h3>

      <h4>Atributos</h4>

      <p>Existem 6 atributos que são considerados em um personagem:</p>

      <ul>
        <li>Força</li>
        <li>Destreza</li>
        <li>Percepção</li>
        <li>Carisma</li>
        <li>Inteligência</li>
        <li>Sorte</li>
      </ul>

      <p>Cada atributo é representado por um dado, sendo eles:</p>

      <ul>
        <li>Força = dado de 4 lados (d4)</li>
        <li>Destreza = dado de 6 lados (d6)</li>
        <li>Percepção = dado de 8 lados (d8)</li>
        <li>Carisma = dado de 10 lados (d10)</li>
        <li>Inteligência = dado de 12 lados (d12)</li>
        <li>Sorte = dado de 20 lados (d20)</li>
      </ul>

      <p>Cada atributo representa alguma ação e possui seu próprio custo quando distribuídos os pontos de experiência.
        Será
        explicado estes pontos mais em breve, mas saiba que são eles:</p>

      <ul>
        <li>Força = custo 5 | Representa ações que exigem a utilização de força bruta ou a capacidade de o corpo
          suportar um
          estresse físico. Tem o maior custo, representando a dificuldade de se criar músculos fortes!</li>
        <li>Destreza = custo 4 | Representa ações que exigem pensamento rápido, agilidade, equilíbrio e movimentos
          voltados
          para a velocidade e complexidade. Seu custo representa a dificuldade de se criar destreza, porém sendo mais
          fácil
          do que criar músculos fortes.</li>
        <li>Percepção = custo 3 | Ações, pré-ações ou reações que necessitem da utilização de algum ou todos os 5
          sentidos
          ou uma conexão com algo além, geralmente utilizado para encontrar passagens secretas, tesouros ou assassinos
          escondidos nas trevas...</li>
        <li>Carisma = custo 2 | Ações que envolvam a fala, convencimento, intimidações e movimentos que tenham a
          intenção de
          chamar a atenção, ou impressionar, Bardos boa sorte em conquistar seus dragões!</li>
        <li>Inteligência = custo 1 | Ações ou entendimentos que exigem o conhecimento ou capacidade de compreender
          determinados assuntos, conhecimentos ou segredos, muito utilizado para representar magias e ou tecnologias!
          (em
          alguns casos para pedir uma dica do mestre sobre um quebra-cabeça...)</li>
        <li>Sorte = Não é possível aumentar | representa momentos que exigam pura sorte, onde não é possível saber com
          certeza o resultado, como jogar uma moeda, ou a última chance de sobreviver a uma ação fatal. (se acha que
          deveria
          ser possível aumentar esse atributo, então por favor aumente sua sorte e ganhe todas as vezes!)</li>
      </ul>

      <hr>

      <h3>Batalha, Desafio e Sorte</h3>

      <p>Para se jogar é necessário entender que além da narrativa do mestre, para se decidir o resultado da história,
        foi
        criado três modos, a batalha o desafio e a sorte, e cada uma representa uma ação que necessita ser resolvida
        na
        partida.</p>

      <ul>
        <li>A Batalha representa uma luta ou disputa entre dois personagens, será decidido conforme a história um
          atributo a
          ser testado dentre eles e será jogado o dado correspondente a aquele atributo, seu valor somado ao valor do
          atributo do personagem e então comparado com os resultados obtidos pelo adversário, chegando então a um
          vencedor.
        </li>
        <li>O desafio, similar a batalha, será decidido um atributo a ser comparado e o nível da dificuldade, será
          rodado os
          dados e somados os valores do atributos do personagem e do desafio, chegando a um resultado onde o
          personagem
          passou ou não pelo desafio.</li>
        <li>Por fim a Sorte, será utilizado dois dados de 20 lados e quem tirar o maior valor ganha.</li>
      </ul>

      <hr>

      <h3>Níveis, experiência e pontos de habilidade</h3>

      <p>Existem dois meios de controlar os niveis dos persnagens, uma dependera do mestre, que dira se é a hora de
        subir de
        nivel, ou atravez do sistema indicado para os mestres que não querem controlar este aspecto, seguindo a
        seguintes
        regras:</p>
      <h4>Quantidade de expêriencia necessária para subir de nível</h4>

      <p>A ideia é que o nível máximo de um personagem seja o 10, pois dificilmente uma jornada iremos ter no final
        "Abraxus, Mago Negro destruidor de mundos, nível 986" e mesmo que tenhamos, como podemos desafiar ele? Então o
        limite de nível foi feito como um modo de facilitar o balanceamento do jogo para o mestre e a criação de
        desafios,
        inimigo e NPC, todo mundo saberá o que significa um desafio de nível 10 ou um de nível 3, sendo assim para
        cada
        nível de personagem temos a seguinte progressão:</p>

      <ul>
        <li>Nível 1 - não se aplica</li>
        <li>Nível 2 - 50 pontos de experiência (xp)</li>
        <li>Nível 3 - 100 pontos de experiência (xp)</li>
        <li>Nível 4 - 150 pontos de experiência (xp)</li>
        <li>Nível 5 - 200 pontos de experiência (xp)</li>
        <li>Nível 6 - 250 pontos de experiência (xp)</li>
        <li>Nível 7 - 300 pontos de experiência (xp)</li>
        <li>Nível 8 - 350 pontos de experiência (xp)</li>
        <li>Nível 9 - 400 pontos de experiência (xp)</li>
        <li>Nível 10 - 450 pontos de experiência (xp)</li>
      </ul>

      <h4>Quantidade de expêriencia ganha</h4>

      <p>O mestre sempre pode decidir quanta experiência um grupo ganha, mas recomendamos os valores a seguir:</p>

      <ul>
        <li>Inimigo / Desafio nível 1 - 10 pontos de experiência (xp)</li>
        <li>Inimigo / Desafio nível 2 - 20 pontos de experiência (xp)</li>
        <li>Inimigo / Desafio nível 3 - 30 pontos de experiência (xp)</li>
        <li>Inimigo / Desafio nível 4 - 40 pontos de experiência (xp)</li>
        <li>Inimigo / Desafio nível 5 - 50 pontos de experiência (xp)</li>
        <li>Inimigo / Desafio nível 6 - 60 pontos de experiência (xp)</li>
        <li>Inimigo / Desafio nível 7 - 70 pontos de experiência (xp)</li>
        <li>Inimigo / Desafio nível 8 - 80 pontos de experiência (xp)</li>
        <li>Inimigo / Desafio nível 9 - 90 pontos de experiência (xp)</li>
        <li>Inimigo / Desafio nível 10 - 100 pontos de experiência (xp)</li>
      </ul>

      <p>Desta forma a ideia é que para um personagem subir de nível é preciso derrotar ou ganhar 5 vezes de um
        inimigo ou
        desafio de mesmo nível, ou seja, o paladino nível 3 teria que vencer cinco esqueletos de nível 3 para subir ao
        nível
        4, ou 8 slimes de nível 2 e se ele for corajoso 3 Orcs de nível 5. A ideia é que subir de nível seja difícil,
        e que
        chegar ao nível 10 é como uma jornada para chagar ao seu auge. Mas o mestre tem total controle para controlar
        essa
        parte se assim desejar.</p>

      <h4>Pontos de atributo</h4>

      <p>Como explicado anteriormente, quando falado sobre os atributos, cada atributo possui um custo para aumentar
        seu
        nível em um, para isso é necessário aumentar seu nível e ganhar esses pontos com cada nível, seguindo a
        seguinte
        regra:</p>

      <ul>
        <li>Nível 1 - Inicia com 24 pontos para serem distribuídos</li>
        <li>Nível 2 - Ganha 10 pontos para serem distribuídos.</li>
        <li>Nível 3 - Ganha 10 pontos para serem distribuídos.</li>
        <li>Nível 4 - Ganha 8 pontos para serem distribuídos.</li>
        <li>Nível 5 - Ganha 8 pontos para serem distribuídos.</li>
        <li>Nível 6 - Ganha 8 pontos para serem distribuídos.</li>
        <li>Nível 7 - Ganha 8 pontos para serem distribuídos.</li>
        <li>Nível 8 - Ganha 8 pontos para serem distribuídos.</li>
        <li>Nível 9 - Ganha 8 pontos para serem distribuídos.</li>
        <li>Nível 10 - Ganha 8 pontos para serem distribuídos.</li>
      </ul>
    </div>
  </div>
</div>
</div>