<nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-secondary text-white" id="navbar">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="#" id="logo">Simple por Galiney</a>
      <div id="navbarNav">
        <div class="d-flex flex-row">
          <button id="linkInstrucoes" class="btn me-3" data-component="../../html/components/instrucoes.html" data-script="../../js/scripts/instrucoes.js" >Instruções</button>
          <button id="linkBatalha" class="btn me-3" data-component="../../html/components/batalha.html" data-script="../../js/scripts/batalha.js" >Batalha</button>
          <button id="linkDesafio" class="btn me-3" data-component="../../html/components/desafio.html" data-script="../../js/scripts/desafio.js" >Desafio</button>
          <button id="linkSorte" class="btn me-3" data-component="../../html/components/sorte.html" data-script="../../js/scripts/sorte.js" >Sorte</button>
          <button id="linkPersonagens" class="btn me-3" data-component="../../html/components/personagens.html" data-script="../../js/scripts/personagens.js" >Personagens</button>
        </div>        
      </div>      
    </div>
    <form class="d-flex align-items-center" style="max-width: 565px; min-width: 565px;">
      <input class="form-control me-2" type="email" placeholder="Email" aria-label="Email" id="campoEmail">
      <input class="form-control me-2" type="password" placeholder="Senha" aria-label="Senha" id="campoSenha">
      <button class="btn btn-success me-2" type="submit" id="botaoEntrar">Entrar</button>
      <button class="btn btn-info" type="submit" id="botaoRegistrar">Registrar</button>
    </form>
  </div>
</nav>