<!-- CARD SORTE -->
<div class="d-flex justify-content-center w-100 mt-2">
  <div class="card w-75 border-dark-subtle">
    <h5 class="card-header grad-bg">Sorte</h5>

      <!-- CORPO -->
      <div class="card text-center">
        <div class="card-body">
          
          <!-- SELECIONAR PERSONAGEM -->
          <div class="form-group">
            <label for="personagem" class="fs-4">Personagem</label>
            <select class="form-control" id="personagem" name="Personagem"></select>
          </div>

          
          <div class="row mt-4">
            
            <!-- DADO JOGADOR -->
            <div class="col-5 d-flex justify-content-center p-0">
              <div class="border border-secondary rounded-circle d-flex justify-content-center align-items-center" style="width: 10rem; height: 10rem;">
                <p class="mb-1 fw-bold fs-1" id="dadoSorte">0</p>
              </div>
            </div>

            <!-- DIVISOR X -->
            <div class="col-2 d-flex justify-content-center align-items-center p-0">
              <h1 class="m-0">X</h1>
            </div>

            <!-- DADO AZAR -->
            <div class="col-5 d-flex justify-content-center p-0">
              <div class="border border-secondary rounded-circle d-flex justify-content-center align-items-center" style="width: 10rem; height: 10rem;">
                <p class="mb-1 fw-bold fs-1" id="dadoAzar">0</p>
              </div>
            </div>
          </div>

          <!-- BOTÃO ROLAR -->
          <a href="#" class="btn accent-bg" id="botaoSorte">Rolar</a>
        </div>

        <!-- RESULTADO -->
        <div class="card-footer">
          <p class="m-0 d-flex flex-column align-items-center">Resultado: <span class="fw-semibold" id="resultado"></span></p>
        </div>
      </div>
  </div>
</div>