<div class="w-100 h-75 justify-content-center align-items-center d-flex">
  <div class="card w-75">
    <h5 class="card-header">Sorte</h5>
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Rolagem dos Dados</h5>
          <div class="form-group">
            <label for="personagem" class="fs-4">Personagem</label>
            <select class="form-control" id="personagem" name="Personagem"></select>
          </div>
          <div class="row mt-4">
            <div class="col-5 d-flex justify-content-center">
              <div class="border border-secondary rounded-circle d-flex justify-content-center align-items-center"
                style="width: 12rem; height: 12 rem;">
                <p class="mb-1 fw-bold fs-1" id="dadoSorte">0</p>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center ">
              <p class="fs-1">X</p>
            </div>
            <div class="col-5 d-flex justify-content-center">
              <div class="border border-secondary rounded-circle d-flex justify-content-center align-items-center"
                style="width: 12rem; height: 12rem;">
                <p class="mb-1 fw-bold fs-1" id="dadoAzar">0</p>
              </div>
            </div>
          </div>
          <a href="#" class="btn btn-primary" id="botaoSorte">Rolar</a>
        </div>
        <div class="card-footer">
          <p class="m-0">Resultado: <span class="fw-semibold" id="resultado"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>